:root{
    --color-p: #fde49f;
    --color-s: #231906;
    --color-so: #23190681;
    --color-a: #ac426e;
    --color-t: #766a53;
    }

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}
.color-a{
    color: var(--color-a);
}
.color-t{
    color: var(--color-t);
}

.bg-color{
    background-color: var(--color-s);
    min-height: 70vh
    
}

.cormorant {
    font-family: "Cormorant Unicase", serif;
    
}

*{
    font-family: "Hubot Sans", serif;
}

/* NAVBAR */

.nav-link{
    font-size: larger;
}

.scrolledNav{
    backdrop-filter: blur(7px);
    border: 2px solid var(--color-p);
    border-radius: 10px;
    margin: 30px 30px;
}

.transition{
    transition: 1s;
}

/* HEADER */
.slide1{
    
    background-image:linear-gradient(#231906, transparent, #231906), url(./media/sfondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.slide2{
    
    background-image:linear-gradient(#231906, transparent, #231906), url(./media/sfondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.slide3{
    
    background-image:linear-gradient(#231906, transparent, #231906), url(./media/sfondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 2px 2px var(--color-s);
    
}

/* CATEGORIE  */
.card-img-custom{
    background: var(--color-so);
    
}

.btnIndexCustom{
    background-color: var(--color-a);
    padding: 8px 30px;
    color: whitesmoke;
    border: 1px solid --color-a;
    border-radius: 10px;
    text-decoration: none;

}

/* SEZIONE NUMBERS */
.bg-numbers{
    background: url(./media/pexels-karolina-grabowska-7607331.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/0.5;
    padding: 0px;
    
}
.subtitles{
    font-size: 2vw;
    text-shadow: 1px 1px 5px var(--color-p);

}

.boxNumbers{
    backdrop-filter: blur(7px);
    border: 2px solid var(--color-so);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    aspect-ratio: 1/0.5;
}

/* ULTIMI ARTICOLI */
.card-custom{
    backdrop-filter: blur(7px);
    border: 2px solid var(--color-t);
    border-radius: 10px;
    padding: 20px;
    
}

.card-custom:hover > div > img {
    transform: scale(1.2);
}

.img-card-container{
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.imgCardArt{
    transition: 1s;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    aspect-ratio: 1/0.7;
}

.icon-card-custom{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}



/* REVIEWS */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    max-width: 100%;
    
}

.round-slide{
    border-radius: 10%;
    overflow: hidden;
}

.box-review{
    background-color: var(--color-t);
    border-radius: 10%;
    border: 2px solid var(--color-t);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-review{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--color-p);
    padding: 5px;
}


